.aboutAll {
  @include fluid(margin-top, 120px, 485px);

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include fluid(gap, 30px, 80px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 30px, 50px);

    &-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-text {
      color: #FFF;
      font-weight: 700;
      @include fluid(font-size, 18px, 24px);

      &--big {
        @include fluid(font-size, 36px, 74px);
      }
    }
  }

  &__img {
    @include fluid(height, 350px, 503px);
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media (max-width: 992px) {
  .aboutAll {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 992px) {
  .aboutAll {
    margin-top: 60px;
    margin-bottom: 60px;

    &__inner {
      gap: 10px;
    }
  }
}