.link,
.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 500;
  @include fluid(font-size, 20px, 32px);
  text-transform: uppercase;
  color: #FFFFFF;
  @include fluid(padding-top, 20px, 40px);
  @include fluid(padding-bottom, 20px, 40px);
  @include fluid(padding-left, 20px, 40px);
  @include fluid(padding-right, 20px, 40px);
  background-color: #4B0082;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 12px;
  transition: background-color .38s ease-in-out,
    color .38s ease-in-out, border .38s ease-in-out;
  cursor: pointer;

  &--ls {
    @include fluid(letter-spacing, 2px, 5px);
  }

  &:hover {
    background-color: #F1916D;
  }

  &--transparent {
    font-weight: 900;
    @include fluid(font-size, 18px, 21px);
    color: #BD83B8;
    border: 2px solid #BD83B8;
    background-color: transparent;
    letter-spacing: 1.3px;
    @include fluid(padding-top, 15px, 35px);
    @include fluid(padding-bottom, 15px, 35px);
    @include fluid(padding-left, 20px, 35px);
    @include fluid(padding-right, 20px, 35px);

    &:hover {
      background-color: transparent;
      color: #F1916D;
      border-color: #F1916D;
    }
  }

  &--modal {
    border: 1px solid #FFF;
    background-color: transparent;

    &:hover {
      color: #F1916D;
      border-color: #F1916D;
      background-color: transparent;
    }
  }
}

@media (max-width: 576px) {

  .link,
  .btn {
    text-align: center;
    font-size: 14px;
  }
}