.textarea,
.input {
  @include fluid(padding-top, 24px, 27px);
  @include fluid(padding-bottom, 24px, 27px);
  @include fluid(padding-left, 45px, 60px);
  @include fluid(padding-right, 20px, 30px);
  @include fluid(font-size, 16px, 20px);
  color: #060604;
  border-radius: 12px;
  box-shadow: inset 0 0 10px 5px transparent;
  transition: box-shadow .38s ease-in-out;
  box-shadow: 0px 30.90909px 37.09091px 0px rgba(138, 80, 230, 0.06);

  &.input--invalid {
    transition: box-shadow .38s ease-in-out;
    box-shadow: inset 0 0 10px 5px red;
  }

  &::-webkit-input-placeholder {
    color: #8C8484;
  }

  &::-moz-placeholder {
    color: #8C8484;
  }

  &:-ms-input-placeholder {
    color: #8C8484;
  }

  &::-ms-input-placeholder {
    color: #8C8484;
  }

  &::placeholder {
    color: #8C8484;
  }
}