.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  &.fancybox__content {
    padding: 0px 20px;

    >.f-button.is-close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #BD83B8;
      border: 1px solid #BD83B8;
      border-radius: 12px;
      font-size: 16px;
      @include fluid(width, 45px, 65px);
      @include fluid(height, 45px, 65px);
      cursor: pointer;
      --f-button-bg: transparent;

      svg {
        --f-button-svg-width: 24px;
        --f-button-svg-height: 24px;
      }
    }
  }

  &__circle {
    position: absolute;
    width: 100%;
    left: 0;
    height: 198%;
    top: -18%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
  }

  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -2;
  }

  &__title {
    text-align: center;
    color: #FFF;
    @include fluid(font-size, 36px, 106px);
    letter-spacing: 2px;
    @include fluid(margin-bottom, 15px, 25px);
    line-height: 1;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .logo {
    position: static;
    transform: unset;
  }

  .form {
    @include fluid(margin-top, 10px, 20px);
    width: 100%;
    max-width: unset;
    padding: 0 20px;

    &__box {
      grid-template-columns: 1fr;
      align-self: center;
      gap: 10px;
      margin-bottom: 0;

      &-label {
        @include fluid(max-width, 425px, 515px);
        margin-left: auto;
        margin-right: auto;
        @include fluid(margin-bottom, 5px, 15px);
      }

      &-input {
        @include fluid(padding-top, 15px, 24px);
        @include fluid(padding-bottom, 15px, 24px);
      }
    }

    .btn {
      @include fluid(padding-top, 15px, 35px);
      @include fluid(padding-bottom, 15px, 35px);
      @include fluid(font-size, 16px, 32px);
    }
  }
}

@media (max-width: 576px) {
  .modal {
    &__title {
      font-size: 46px;
    }

    &__bg {
      height: 100%;
    }

    .form {
      &__box {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 390px) {
  .modal {
    &__title {
      font-size: 36px;
    }

    .form {
      &__box {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 320px) {
  .modal {
    &__title {
      font-size: 30px;
    }
  }
}