.accordion {
  &-child {
    position: relative;

    &__content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.23s ease-in-out;

      &--abs {
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        max-height: 0;
        z-index: 5;
      }
    }
  }
}