.conductorWork {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  background: rgba(16, 24, 40, 0.10);
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: opacity .23s ease-out,
    z-index .23s ease-out,
    visibility .23s ease-in-out;

  &--active {
    opacity: 1;
    z-index: 100;
    visibility: visible;
  }

  &__form {
    position: relative;
    max-width: 500px;
    width: 95%;
    padding: 20px;
    border-radius: 16px;
    background: #FFF;
    margin: auto;
    gap: 20px;
  }

  &__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-top: 24px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;

    &-img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover;
    }

    &-name {
      color: #344054;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  &__title {
    color: #344054;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 16px;
  }

  &__subtitle {
    color: #101828;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 12px;
  }

  &__block {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;

    &-textTop,
    &-textBot {
      padding: 4px 12px;
      border-radius: 16px;
      background: #F2F4F7;
      color: #475467;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      transition: background-color .23s ease-in-out, color .23s ease-in-out;
      cursor: pointer;

      &--active {
        color: #12A87A;
        background: #E8FAF4;
      }
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
  }

  &__photo {
    margin-bottom: 24px;

    &-title {
      color: #101828;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 4px;
    }

    &-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 16px;
    }

    &-flex {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &-block {
      position: relative;
      width: 116px;
      height: 116px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      background: #EAECF0;

      &:first-child {
        .conductorWork__photo-delete {
          display: none;
        }
      }
    }

    &-file {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &-add {
      display: flex;
      align-items: center;
    }

    &-delete {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -5px;
      right: -5px;
      width: 21px;
      height: 21px;
      cursor: pointer;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::after {
        top: 0px;
        right: -1px;
        width: 21px;
        height: 21px;
        background-color: #fff;
        z-index: 1;
      }

      &::before {
        top: 2px;
        right: 1px;
        background-color: #1D2939;
        width: 18px;
        height: 18px;
        z-index: 2;
      }
    }
  }


  .input {
    margin-bottom: 20px;
  }

  .rating {
    margin-bottom: 16px;
  }
}

@media (max-width: 539px) {

  .conductorWork {
    &__inner {
      width: 100%;
      max-width: 100%;
    }

    &__photo {
      &-block {
        width: 100px;
        height: 100px;
      }
    }
  }
}