.conductor {
  &__inner {
    padding: 20px;
    border-radius: 16px;
    background: #FFF;
  }

  &__subtitle {
    color: #101828;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
  }

  &__swiper {
    position: relative;
    width: 100%;
    max-width: 572px;
    margin-left: unset;
    margin-bottom: 24px;

    &-img {
      border-radius: 12px;
      width: 108px;
      height: 108px;
      -o-object-fit: cover;
      object-fit: cover;
    }

    &-num {
      position: absolute;
      z-index: 10;
      bottom: 6px;
      right: 6px;
      padding: 2px 10px;
      border-radius: 16px;
      background: rgba(16, 24, 40, 0.80);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      color: #FFF;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 24px;

    &--accent {
      color: #12A87A;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 0;
      cursor: pointer;
    }
  }

  &__info {
    display: flex;
    gap: 8px;
    color: #344054;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;

    &-icon {
      display: flex;
      align-content: center;
    }
  }

  &__hidden {
    transition: max-height .23s ease-in-out;
    max-height: 0;
    overflow: hidden;
  }

  &__profile {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;

    &-img {
      border-radius: 16px;
      width: 96px;
      height: 96px;
      -o-object-fit: cover;
      object-fit: cover;
    }

    &-name {
      color: #101828;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin-bottom: 4px;
    }

    &-info {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;

      &--online {
        position: relative;
        padding-left: 14px;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
    }

    &-block {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
    }

    &-elem {
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 8px;
      border: 1px solid #F2F4F7;
      padding: 6px 8px;

      &--opacity {
        opacity: .35;
      }
    }

    &-icon {
      display: flex;
      align-items: center;
    }

    &-text {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

@media (max-width: 768px) {
  .conductor {
    &__inner {
      padding: 0;
    }

    &__profile {
      flex-direction: column;
      gap: 8px;

      &-img {
        width: 72px;
        height: 72px;
      }

      &-name {
        font-size: 20px;
        line-height: 30px;
      }

      &-info,
      &-text {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &__info,
    &__text {
      font-size: 14px;
      line-height: 20px;
    }

    &__swiper {
      &-img {
        width: 100px;
        height: 100px;
      }
    }
  }
}