.faq {
  max-width: 506px;

  &__title {
    color: var(--gray-900, #101828);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;

    &--mb {
      margin-bottom: 24px;
    }
  }

  &__btn {
    margin-bottom: 24px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    padding: 12px;
    border-radius: 8px;
    background: var(--gray-100, #F2F4F7);
    cursor: pointer;

    &.accordion-child--active {
      .faq__item {
        &-box {
          margin-bottom: 8px;
        }

        &-icon {
          .second-line {
            transform: translate(-50%, -50%) rotate(90deg);
          }
        }
      }

      .faq__text {
        width: 90%;
      }
    }

    &-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      transition: margin-bottom .23s ease-in-out;
    }

    &-icon {
      position: relative;
      width: 20px;
      height: 20px;

      .first-line,
      .second-line {
        position: absolute;
        border-radius: 25px;
        background: #667085;
        transform: rotate(0deg);
        transition: .23s all ease-out;
      }

      .first-line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 2px;
      }

      .second-line {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 14px;
        width: 2px;
      }
    }

    &-title {
      color: var(--gray-900, #101828);
      font-size: 16px;
      font-weight: 600;
      line-height: 24px
    }
  }
}

@media(max-width:992px) {
  .faq {
    max-width: unset;
  }
}