.lunge {
  &:has(+*) {
    margin-bottom: 16px;
  }

  &__label {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 9px 13px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background-color: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;

    .input {
      all: unset;
      width: 100%;
      color: #344054;

      &[type=date] {
        &::-webkit-calendar-picker-indicator {
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          opacity: 0;
        }
      }

      &[type=time] {
        &::-webkit-calendar-picker-indicator {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          opacity: 0;
        }
      }
    }

    &:has(+.lunge__text--error) {
      margin-bottom: 6px;
    }

    &-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 6px;
    }

    &.accordion--active {
      border-color: #16CDA1;
      outline: none;
      box-shadow: 0px 0px 0px 4px #D1FADF;

      .lunge__icon--arrow {
        transform: rotateX(-180deg);
      }

      +.lunge__hidden {
        opacity: 1;
        margin-top: 6px;
        height: 200px;
      }
    }
  }

  &__hidden {
    max-height: 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    outline: 1px solid #D0D5DD;
    background-color: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    transition: max-height .23s ease-in-out, overflow .23s ease-in-out, margin .23s ease-in-out, opacity .23s ease-in-out, height .23s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: auto;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #344054;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      cursor: pointer;
      padding: 10px 13px;
      transition: background-color .23s ease-in-out;

      &:hover,
      &--active,
      &.tab__target--active {
        background-color: #F9FAFB;

        .lunge__hidden-icon {
          opacity: 1;
        }
      }

      span {
        color: #98A2B3;
      }
    }

    &-icon {
      opacity: 0;
      transition: opacity 0.23s ease-in-out;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    pointer-events: none;
    transition: transform .23s ease-in-out;
  }
}