.questionnaire {
  max-width: 718px;

  &__title {
    color: #101828;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 12px;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px;

    &-column {
      flex-direction: column;
      gap: 2px;
    }

    &-icon {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid var(--gray-200, #EAECF0);
      background: var(--White, #FFF);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05)
    }

    &-title {
      color: var(--gray-700, #344054);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px
    }

    &-text {
      font-size: 12px;
      line-height: 18px;
    }

    &-img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }
  }

  &__clone {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__service {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
    }

    &-title {
      max-width: 413px;
      color: var(--gray-700, #344054);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    &-line {
      position: relative;
      height: 10px;
      flex-grow: 1;
      margin-top: 0;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 1px;
        background-color: #EAECF0;
      }
    }

    &-price {
      padding: 2px 10px;
      border-radius: 16px;
      background: var(--primary-50, #E8FAF4);
      color: var(--primary-600, #12A87A);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    &-text {
      max-width: 413px;
      color: var(--gray-400, #98A2B3);
      font-size: 12px;
      line-height: 18px;
    }

    &-type {
      max-width: 313px;
      color: var(--gray-500, #667085);
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 20px;
    border-radius: 16px;
    background: #FFF;
    margin-bottom: 32px;

    &--column {
      flex-direction: column;
      gap: 16px;
    }

    &-container {
      display: flex;
      flex-direction: column;
      gap: 2px;

      &--wrap {
        flex-wrap: wrap;
        flex-direction: unset;
        gap: 8px;
      }
    }

    &-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      width: 100%;
    }

    &-block {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &--row {
        .questionnaire__label {
          width: 100%;
          margin-bottom: 0;
        }

        flex-direction: row;
      }
    }

    &-title {
      color: #101828;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px
    }

    &-text {
      color: #667085;
      font-size: 12px;
      line-height: 18px;

      &:has(+*) {
        margin-bottom: 8px;
      }

      &--bg {
        border-radius: 6px;
        background: #F2F4F7;
        padding: 8px 12px;
        color: #344054;
        font-size: 12px;
        line-height: 18px;
      }

      &--brdr {
        border-radius: 16px;
        background: #F2F4F7;
        padding: 8px 12px;
        color: #475467;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 0;
      }
    }

    &-icon {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 8px;
      cursor: pointer;
      transition: background-color .23s ease-in-out;

      &--remove {
        svg {
          pointer-events: none;
        }
      }

      &:hover {
        background-color: #F2F4F7;
      }

      &--alt {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        padding: 11px;
        border-radius: 8px;
        border: 1px solid var(--gray-300, #D0D5DD);
        background: var(--White, #FFF);
      }
    }

    .link {
      &:has(+*) {
        margin-bottom: 16px;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__profile {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;

    &-container {
      position: relative;
      width: 144px;
      height: 144px;
      border-radius: 16px;
    }

    &-img {
      border-radius: 16px;
      width: 144px;
      height: 144px;
      -o-object-fit: cover;
      object-fit: cover;
    }

    &-name {
      display: flex;
      align-items: center;
      gap: 12px;
      color: #101828;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      margin-bottom: 8px;

      .questionnaire__profile-icon {
        padding: 8px;

        &:hover {
          background-color: #F2F4F7;
        }
      }
    }

    &-info {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;

      &--online {
        position: relative;
        padding-left: 14px;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
    }

    &-block {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      margin-bottom: 20px;
    }

    &-elem {
      display: flex;
      align-items: center;
      gap: 6px;
      border-radius: 8px;
      border: 1px solid #F2F4F7;
      padding: 6px 8px;

      &--opacity {
        opacity: .35;
        cursor: pointer;
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color .23s ease-in-out;

      &--pos {
        position: absolute;
        right: 8px;
        bottom: 8px;
        padding: 8px;
        border: 1px solid #D0D5DD;
        background: #FFF;
      }
    }

    &-text {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  &__label {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 9px 13px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background-color: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;

    .input {
      all: unset;
      width: 100%;
      color: #344054;
    }

    &.accordion--active {
      border-color: #16CDA1;
      outline: none;
      box-shadow: 0px 0px 0px 4px #D1FADF;

      +.questionnaire__hidden {
        opacity: 1;
        margin-top: 6px;
        height: 200px;
      }
    }
  }

  &__hidden {
    max-height: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    outline: 1px solid #D0D5DD;
    background-color: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    transition: max-height .23s ease-in-out, overflow .23s ease-in-out, margin .23s ease-in-out, opacity .23s ease-in-out, height .23s ease-in-out;
    opacity: 0;
    overflow: auto;

    &-item {
      padding: 10px 14px;
      color: #344054;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .questionnaire {
    &__profile {
      flex-direction: column;
      gap: 8px;

      &-img {
        width: 72px;
        height: 72px;
      }

      &-name {
        font-size: 20px;
        line-height: 30px;
      }

      &-info,
      &-text {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}