@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Montserrat-Regular.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/Montserrat-Medium.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../../assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("../../assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../../assets/fonts/Montserrat-ExtraBold.woff") format("woff"),
    url("../../assets/fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Manrope-Regular.woff") format("woff"),
    url("../../assets/fonts/Manrope-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/Manrope-Medium.woff") format("woff"),
    url("../../assets/fonts/Manrope-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 800;
  font-style: normal;
  src: url("../../assets/fonts/Manrope-ExtraBold.woff") format("woff"),
    url("../../assets/fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Poppins-Regular.woff") format("woff"),
    url("../../assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/Poppins-Medium.woff") format("woff"),
    url("../../assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: normal;
  src: url("../../assets/fonts/Poppins-SemiBold.woff") format("woff"),
    url("../../assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/NeueMachina-Bold.woff") format("woff"),
    url("../../assets/fonts/NeueMachina-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Silka";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/Silka-Bold.woff") format("woff"),
    url("../../assets/fonts/Silka-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Silka";
  font-weight: 900;
  font-style: normal;
  src: url("../../assets/fonts/Silka-Black.woff") format("woff"),
    url("../../assets/fonts/Silka-Black.woff2") format("woff2");
  font-display: swap;
}