.how {
  &__wrapper {
    @include fluid(padding-top, 56px, 133px);
    @include fluid(padding-bottom, 56px, 128px);
    background-color: #000;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr .3fr;
    @include fluid(gap, 20px, 144px);
  }

  &__title {
    @include fluid(margin-bottom, 59px, 100px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    color: #fff;

    &:last-child {
      .how__item-arrow {
        display: none;
      }
    }

    &-icon {
      @include fluid(margin-bottom, 30px, 52px);

      svg {
        @include fluid(width, 34px, 46px);
        @include fluid(height, 27px, 36px);
      }

      &--right {
        @include fluid(width, 34px, 46px);
        @include fluid(height, 27px, 36px);

        svg {
          @include fluid(width, 34px, 46px);
          @include fluid(height, 34px, 46px);
        }
      }
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;
      @include fluid(font-size, 30px, 55px);
      @include fluid(margin-bottom, 20px, 63px);
    }

    &-text {
      font-family: "Manrope";
      @include fluid(font-size, 14px, 18px);
      text-wrap: balance;
    }

    &-arrow {
      display: flex;
      align-items: center;

      svg {
        @include fluid(width, 34px, 54px);
        @include fluid(height, 34px, 54px);
      }
    }
  }
}

@media (max-width: 768px) {

  .how {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__item {
      display: grid;
      grid-template-columns: 34px 1fr;
      align-items: start;
      gap: 18px;

      &:not(:last-child) {
        .how__item-text {
          margin-bottom: 70px;
        }
      }

      &-icon {
        margin-bottom: 0;
      }

      &-box {
        position: relative;
      }

      &-arrow {
        position: absolute;
        bottom: 12px;
        left: 0;
        transform: rotate(90deg);
      }
    }
  }
}

@media (max-width: 576px) {
  .how {
    &__item {
      &-title {
        font-size: 17px;
      }

      &-text {
        font-size: 12px;
      }
    }
  }
}