.info {
  &__wrapper {
    position: relative;
    overflow: hidden;
    @include fluid(padding-top, 59px, 137px);
    @include fluid(padding-bottom, 59px, 160px);
  }

  &__bg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include fluid(max-width, 300px, 686px);
    @include fluid(height, 150px, 350px);
    z-index: -1;
    -o-object-position: top right;
    object-position: top right;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__fon {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    -o-object-position: bottom right;
    object-position: bottom right;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__text {
    position: relative;
    @include fluid(max-width, 710px, 1300px);
    margin-left: auto;
    margin-right: auto;
    font-family: "Manrope";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    @include fluid(font-size, 24px, 45px);
    line-height: 1.35;
    z-index: 1;

    &:has(+*) {
      @include fluid(margin-bottom, 30px, 65px);
    }
  }

  &__textSmall {
    font-weight: 800;
    @include fluid(font-size, 16px, 20px);
    @include fluid(line-height, 20px, 35px);
    text-align: center;
  }
}

@media (max-width: 768px) {
  .info {

    &__text {
      font-size: 15px;
    }

    &__textSmall {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .info {
    &__bg {
      width: 245px;
      height: 120px;
    }
  }
}