.menu {
  &__list {
    display: flex;
    align-items: center;
    @include fluid(gap, 20px, 48px);

    &-item {
      &--hidden {
        display: none;
      }
    }

    &-link {
      line-height: 1.3;
      color: inherit;
      font-weight: 600;
      transition: color .38s ease-in-out;

      &:hover {
        color: #FF4B23;
      }
    }
  }
}