.sorting {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  @include fluid(column-gap, 15px, 20px);
  @include fluid(row-gap, 10px, 15px);
  @include fluid(padding, 20px, 40px);
  border-radius: 40px;
  background-color: #F1F8FB;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: end;
    @include fluid(gap, 5px, 10px);
    color: #848E94;
  }

  &__flex {
    display: flex;
    align-items: center;
    align-content: end;
    @include fluid(gap, 5px, 10px);

    .btn {
      width: 100%;
      @include fluid(padding-top, 10px, 12px);
      @include fluid(padding-bottom, 10px, 12px);
      @include fluid(padding-left, 15px, 25px);
      @include fluid(padding-right, 15px, 25px);
    }
  }
}