.about {
  &__wrapper {
    @include fluid(padding-top, 30px, 86px);
    @include fluid(padding-bottom, 30px, 35px);

    &--alt {
      @include fluid(padding-bottom, 30px, 100px);
    }
  }

  &__title {
    @include fluid(margin-bottom, 20px, 42px);
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr .527fr;
    @include fluid(gap, 20px, 100px);
  }

  &__text {
    span {
      font-weight: 600;
    }

    &:has(+*) {
      @include fluid(margin-bottom, 15px, 18px);
    }
  }

  &__box {
    @include fluid(margin-top, 40px, 50px);
  }

  &__img {
    @include fluid(height, 280px, 338px);
    @include fluid(margin-bottom, 12px, 16px);
    border-radius: 12px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__name {
    color: var(--Dark, #5F5F69);
    @include fluid(font-size, 16px, 20px);
    font-weight: 500;
    margin-bottom: 4px;
    text-align: right;
  }

  &__who {
    color: var(--Main-Go-Latam, #1F93CC);
    font-weight: 500;
    text-align: right;
  }
}

@media (max-width: 768px) {
  .about {
    &__inner {
      grid-template-columns: 1fr;
    }

    &__box {
      margin-top: 0;
    }

    &__img {
      max-width: 290px;
      margin-left: auto;
      margin-right: auto;
    }

    &__name,
    &__who {
      text-align: center;
    }
  }
}