@font-face {
  font-family: "SF Pro Rounded";
  font-weight: 600;
  font-style: normal;
  src: url("../../assets/fonts/SF-Pro-Rounded-Semibold.woff") format("woff"),
    url("../../assets/fonts/SF-Pro-Rounded-Semibold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Scada";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/Scada-Regular.woff") format("woff"),
    url("../../assets/fonts/Scada-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 300;
  font-style: normal;
  src: url("../../assets/fonts/SF-Pro-Display-Light.woff") format("woff"),
    url("../../assets/fonts/SF-Pro-Display-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  src: url("../../assets/fonts/SF-Pro-Display-Regular.woff") format("woff"),
    url("../../assets/fonts/SF-Pro-Display-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  src: url("../../assets/fonts/SF-Pro-Display-Medium.woff") format("woff"),
    url("../../assets/fonts/SF-Pro-Display-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-style: normal;
  src: url("../../assets/fonts/SF-Pro-Display-Semibold.woff") format("woff"),
    url("../../assets/fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-style: normal;
  src: url("../../assets/fonts/SF-Pro-Display-Bold.woff") format("woff"),
    url("../../assets/fonts/SF-Pro-Display-Bold.woff2") format("woff2");
  font-display: swap;
}