.pagination {
  &__list {
    display: flex;
    align-items: center;
    gap: 8px;

    &-item {
      position: relative;
      @include fluid(width, 24px, 36px);
      @include fluid(height, 24px, 36px);
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
      color: var(--Black, #070808);
      font-weight: 400;
      transition: color .23s ease-in-out, background-color .23s ease-in-out;

      &--active,
      &:hover {
        color: #fff;
        background-color: var(--Main-Go-Latam, #1F93CC);

        .pagination__icon {
          svg {
            path {
              fill: var(--Main-Go-Latam, #1F93CC);
            }
          }
        }
      }

      &--prev,
      &--next {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  &__icon {
    svg {
      path {
        transition: fill .23s ease-in-out
      }
    }
  }
}

@media (max-width: 576px) {
  .pagination {
    &__list {
      justify-content: center;
    }
  }
}